@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cairo+Play:wght@200;400;700&family=DM+Mono:wght@300;400;500&family=DM+Sans:wght@400;500;700&family=Fira+Code:wght@300;400;600&family=Fira+Sans:wght@300;500;700&family=Gloock&family=IBM+Plex+Sans+JP:wght@300;400;600&family=Libre+Bodoni:ital,wght@0,400;0,600;1,400&family=Noto+Serif+Thai:wght@200;400;600&family=Roboto+Flex:opsz,wght@8..144,200;8..144,400;8..144,600&family=Sofia+Sans+Semi+Condensed:ital,wght@0,100;0,200;0,400;0,600;1,1;1,500&family=Splash&family=VT323&display=swap');

:root{
--font-alboreto_cursive: 'Aboreto', cursive;
--font-cairo_cursive: 'Cairo Play', cursive;
--font-dmono: 'DM Mono', monospace;
--font-dmsans: 'DM Sans', sans-serif;
--font-firacode: 'Fira Code', monospace;
--font-firasans: 'Fira Sans', sans-serif;
--font-gloock: 'Gloock', serif;
--font-ibmplex: 'IBM Plex Sans JP', sans-serif;
--font-librebod: 'Libre Bodoni', serif;
--font-notoserif: 'Noto Serif Thai', serif;
--font-robotoflex: 'Roboto Flex', sans-serif;
--font-sofiasans: 'Sofia Sans Semi Condensed', sans-serif;
--font-splasg_cursive: 'Splash', cursive;
--font-retrovt: 'VT323', monospace;
}