/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Fira+Sans:wght@300;500;700&family=Roboto+Flex:opsz,wght@8..144,200;8..144,400;8..144,600&display=swap");

/* FUENTES PERSONALIZADAS */
:root {
  --dmsans: "DM Sans", sans-serif;
  --firasans: "Fira Sans", sans-serif;
  --robotoflex: "Roboto Flex", sans-serif;
}

body {
  font-family: var(--robotoflex);
}

/* ===========================================
=============PÁGINA DE FORMULARIO ============= */
.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.form,
.resumen {
  background-color: #85f7ed8e;
  box-shadow:0 0 0 3px rgba(0, 0, 139, 0.678);
  border-radius: 20px;

  width: 358px;
  height: auto;
  padding: 2%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content:start;
}

.categories select {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    margin-top: 5px;
    border: 1px solid black;
}

.categories label {
  margin-top: 10px;
}

.categories h1 {
    text-align: center;
}

.placeholder {
    color: rgba(128, 128, 128, 0.719);
}

.intext {
    width: 100%;
}

.categories .input-text input {
  margin-bottom: 10px;
}

.checkbox_hori {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content:center;
}


.complementos {
  margin-bottom: -3%;
  padding-bottom: 0;
}

.categories ul {
  margin-left: -8%;
}


.checkbox_hori label {
  margin-right: 15px;
}

.checklist {
  list-style:none ;
}

.checklist ul {
  margin-top: 0;
  margin-left: 0;
}


.btn {
  padding:10px;
  border-radius: 30px;
  width: 80%;
  color: white;
  margin: 5px;
  border: none;
  text-align: center;
  text-decoration: none;
  box-shadow:  0 0 5px 1px rgba(0, 0, 0, 0.274);
}

.btn:hover, 
.btn:active {
  box-shadow: 0 0 0 3px rgba(0, 0, 139, 0.678);
}


.enviar {
  background-color: rgba(16, 248, 66, 0.753);
}

.borrar {
  background-color: rgb(206, 39, 131);
}
/* ================================================= */


/* ==================================================
=========== PÁGINA DE RESUMEN PRODUCTOS ============= */
.resumen {
  background-color: rgba(255, 136, 0, 0.527);
  box-shadow:0 0 0 3px rgba(73, 7, 70, 0.692);
  align-items: center;
}

.comprar {
  background-color: rgb(50, 205, 171);
}

.items {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.items h5 {
  margin-bottom: 0;
}

.item {
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 15px;

  height: auto;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  box-shadow: 0 0 2px 1px rgba(139, 139, 139, 0.932);
}

.btn{
  align-self: center;
  width: 80%;
}

.eliminar {
  background-color:  rgba(73, 7, 70, 0.692);
}

.eliminar:hover {
  box-shadow: 0 0 0 3px rgba(73, 7, 70, 0.692);
}

